<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Dojo Survey</title>
  </head>
  <body>
    <div class="container">
      <div class="justify-content-left">
        <div>
          <form action="/result" method="post">
            <h4>Your Name: <input name="Name" type="text" /></h4>
            <h4>
              Dojo Location:<select name="Location">
                <option value="Boise">Boise</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Chicago">Chicago</option></select
              >
            </h4>
            <h4>
              Favorite Language:<select name="Language">
                <option value="Python">Python</option>
                <option value="C#">C#</option>
                <option value="JavaScript">JavaScript</option></select
              >
            </h4>
            <h4>Comment (optional):</h4>
            <input name="Comment" type="textarea" /><br /><br />
            <button class="btn btn-primary" type="Submit" value="Submit">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
